$content-width: 900px;
$main: #FFFFFF;
$header: #2B616D;
$font-style: 'Open Sans', sans-serif;
$font-color: #262626;
$link-color: #1d1425;
$link-hover-color: #2B616D;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #1d1425;
$light: #e7edf4;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
